@reference "@/index.css";

@layer component {
    .cart-table-header {
        @apply flex justify-between border md:mx-32 py-5 px-5 rounded shadow-md text-base font-normal
    }
    .carts-table-body {
        @apply flex items-center md:justify-center justify-between border md:mx-32 mt-9 py-7 rounded shadow-md text-base font-normal px-5
    }
    .cart-product-image {
        @apply flex items-center gap-4 md:w-4/12 relative
    }
    .cart-product-delete {
        @apply absolute text-xl text-red-500 bottom-7 left-9 cursor-pointer
    }
    .cart-table-quantity {
        @apply flex items-center justify-center gap-4 py-1 rounded border-black w-20 border
    }
    .return-to-shop-button {
        @apply text-black dark:text-white text-base font-medium py-3 px-9 border-2 rounded
    }
    .update-cart-button {
        @apply text-black dark:text-white text-base font-medium py-3 px-9 border-2 rounded
    }
    .cart-total-container {
        @apply border-2 rounded border-black dark:border-white py-7 px-7 md:w-4/12 text-base font-normal text-black
    }
}